!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %title simple-navigationExamples
    = stylesheet_link_tag 'navigation', 'example_1', 'example_2', 'example_3', 'example_4'
    = javascript_include_tag 'jquery', 'application', 'jquery.superfish'
  %body
    
    = partial 'structure/header'
    
    #main_content
    
      = partial 'structure/info_box'
                
      = partial 'examples/example_1'
                
      = partial 'examples/example_2'
                
      = partial 'examples/example_3'
                
      = partial 'examples/example_4'
